@model BonoLogin.Models.DatosEmisor

@{
    ViewBag.Title = "Tipo";
}

    <div class="container w-100 d-flex justify-content-center">
        <div class="card text-center mt-5 p-3 shadow">
            <h2>Selecciona el tipo definido por el emisor:</h2>
            <hr />
            @using (Html.BeginForm())
            {
                <div class="form-group text-left">
                    @Html.LabelFor(model => model.Alias, htmlAttributes: new { @class = "control-label" })
                    @Html.DropDownListFor(model => model.Alias, (List<SelectListItem>)ViewBag.Types, htmlAttributes: new { @class = "custom-select" })
                </div>

                <input class="btn btn-success" type="submit" name="submit" value="Siguiente" />
            }

            <div class="mt-4">
                @Html.ActionLink("Volver a la lista", "Index", routeValues: null, htmlAttributes: new { @class = "btn bg-own-blue" })
            </div>
        </div>
    </div>
