@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">Error al procesar la solicitud.</h2>

@Html.ActionLink("Regresar al inicio", "Index", "Home", routeValues: null, htmlAttributes: new { @class="btn btn-primary"})
