@{
    ViewBag.Title = "Sobre la Web";
}

<!--BODY-->
<div class="container w-100">
    <div class="card text-center mt-5 p-3 shadow">
        <h2>Instrucciones de Uso:</h2>
        <hr />
        <div class="text-left">
            <ol>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ol>
        </div>
    </div>
</div>

<!--Espacio en blanco-->
<div style="height: 20vh;"></div>
<!--Fin Espacio en blanco-->
<!--BODY-->
