@{
    ViewBag.Title = "Sobre la Web";
}

<!--BODY-->
<div class="container w-100">
    <div class="card text-center mt-5 p-3 shadow">
        <h2>Instrucciones de Uso:</h2>
        <hr />
        <div class="text-left">
            <ul>
                <li>
                    <h6>Registro:</h6>
                    <ol>
                        <li>
                            Haga click en registrarse y llene el formulario con un correo y contraseña valido.
                        </li>
                        <li>
                            Al ingresar se solicitara su correo y contraseña, para acceder a sus registros.
                        </li>
                    </ol>
                </li>
                <hr />
                <li>
                    <h6>Bonos corporativos:</h6>
                    <ol>
                        <li>
                            En la pantalla de inicio se muestra un acceso a tus fichas (Registros de bonos) y otro para ver las instrucciones detalladas. Hacemos click en "Ir a mis registros".
                        </li>
                        <li>
                            En la tabla de "Mis registros", para añadir uno nuevo haga click en "nuevo registro". Lo llevara a un formulario para la toma de datos.
                        </li>
                        <li>
                            Llenar los datos solicitados por la web dónde principalmente:
                            <ul>
                                <li>
                                    Nombre: un alias para reconocer el registro del bono.
                                </li>
                                <li>
                                    TEA y TDEA: las tasa efectiva anual y la tasa de descuento efectiva anual sera calculada después de dar click a sus respectivos botones de "Calcular".
                                </li>
                                <li>
                                    Los formularios con el símbolo de "%" se debe ingresar el valor como porcentaje.
                                </li>
                                <li>
                                    Los campos de "Impuesto a la renta, Prima, Estructuración, Colocación, Flotación y CAVALI" tienen valores por defecto pero estos pueden ser modificados si se requiere.
                                </li>
                                <li>
                                    Los periodos de gracia por defecto serán en la totalidad de periodos como "Simple" por defecto pero este pueden ser modificados en la ventana de detalles de acada registro.
                                </li>
                            </ul>
                        </li>
                        <li>
                            Luego de la creación, regresaras a la lista dónde se muestran todos los registros, con tres opciones:
                            <ul>
                                <li>
                                    Detalles: Te mostrara todos los datos registrados junto con los periodos de gracia.
                                </li>
                                <li>
                                    Resultados: Muestra la ventana de resultados de dicho registro.
                                </li>
                                <li>
                                    Eliminar: Borra el registro.
                                </li>
                            </ul>
                        </li>
                        <li>
                            En la vista de los resultados se mostrara los flujos de dinero en los periodos de tiempo asi como los indicadores TIR, VAN, VA, TCEA.
                        </li>
                        <li>
                            Para hacer un nuevo registro regrese a la lista y repita el paso 1.
                        </li>
                    </ol>
                </li>
            </ul>
        </div>
    </div>
</div>

<!--BODY-->
