@{
    ViewBag.Title = "Equipo";
}

<!--BODY-->
<div class="container w-100">
    <div class="card text-center mt-5 p-3 shadow">
        <h2>Equipo: </h2>
        <hr />
        <div class="row">
            <div class="card col-12 m-1 col-md">
                <div class="mb-2 display-1">
                    <i class="fas fa-robot"></i>
                </div>
                <p>L. V. L.</p>
            </div>
            <div class="card col-12 m-1 col-md">
                <div class="mb-2 display-1">
                    <i class="fas fa-coins"></i>
                </div>
                <p>J. C. P.</p>
            </div>
            <div class="card col-12 m-1 col-md">
                <div class="mb-2 display-1">
                    <i class="fas fa-database"></i>
                </div>
                <p>D. I. E.</p>
            </div>
            <div class="card col-12 m-1 col-md">
                <div class="mb-2 display-1">
                    <i class="fas fa-hand-holding-usd"></i>
                </div>
                <p>R. C. C.</p>
            </div>
        </div>
    </div>
</div>

<!--Espacio en blanco-->
<div style="height: 20vh;"></div>
<!--Fin Espacio en blanco-->
<!--BODY-->