/*body {
    padding-top: 50px;
    padding-bottom: 20px;
}*/


/* Set padding to keep content from hitting the edges */

/*.body-content {
    padding-left: 15px;
    padding-right: 15px;
}*/

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/

/*.dl-horizontal dt {
    white-space: normal;
}*/

/* Set width on the form input elements since they're 100% wide by default */

/*input,
select,
textarea {
    max-width: 280px;
}*/


/*
--black: #040f0fff;
--greendark: #248232ff;
--greenlight: #2ba84aff;
--gray: #2d3a3aff;
--white: #fcfffcff;
--yellow: #f8f991ff;
--blue: #048ba8ff;
--red: #DE3C4B;
*/

.bg-own-gray {
    background-color: #2d3a3aff;
}

.bg-own-black {
    background-color: #040f0fff;
}

.bg-own-green-dark {
    background-color: #248232ff;
}

.bg-own-green-light {
    background-color: #2ba84aff;
}

.bg-own-white {
    background-color: #fcfffcff;
}

.bg-own-yellow {
    background-color: #f8f991ff;
}

.bg-own-blue {
    background-color: #048ba8ff;
}

.bg-own-red {
    background-color: #DE3C4B;
}

.text-own-gray {
    color: #2d3a3aff;
}

.text-own-black {
    color: #040f0fff;
}

.text-own-green-dark {
    color: #248232ff;
}

.text-own-green-light {
    color: #2ba84aff;
}

.text-own-white {
    color: #fcfffcff;
}

.text-own-yellow {
    color: #f8f991ff;
}

.text-own-blue {
    color: #048ba8ff;
}

.text-own-red {
    color: #DE3C4B;
}

.bg-own-grad-green {
    background: #248232ff;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #040f0fff, #248232ff);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #040f0fff, #248232ff);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.own-hover:hover {
    font-size: 1.2rem;
    color: white;
    background-color: rgba(45, 58, 58, 0.623);
    border-radius: 10px;
}

.own-hover-2:hover {
    font-size: 1.2rem;
    color: white;
    background-color: #048ba8ff;
    border-radius: 10px;
}

.own-hover-3:hover {
    font-size: 1.2rem;
    color: white;
    background-color: #248232ff;
    border-radius: 10px;
}

footer {
    margin-top: 100px;
    height: 100px;
    background-color: #2d3a3aff;
}

.pt-10 {
    padding-top: 6rem;
}